<div class="share">
    <p>
      <a href="https://twitter.com/intent/tweet?text={{page.description | url_encode}}%20{{site.siteurl | url_encode}}{{page.url | url_encode}}" title="Share on Twitter"><i class="fab fa-twitter-square fa-fw fa-lg" target="_new"></i></a>
    
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.siteurl | url_encode}}{{page.url | url_encode}}&title={{page.description | url_encode}}&summary={{page.description | url_encode}}&source=nealshyam.com" title="Share on LinkedIn" target="_new"><i class="fab fa-linkedin fa-fw fa-lg"></i></a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.siteurl | url_encode}}{{page.url | url_encode}}" title="Share on Facebook" target="_new"><i class="fab fa-facebook fa-fw fa-lg"></i></a>
    
      <a href="https://news.ycombinator.com/submitlink?u={{site.siteurl | url_encode}}{{page.url | url_encode}}&t={{page.title}}" title="Share on Hacker News" target="_new"><i class="fab fa-hacker-news-square fa-fw fa-lg"></i></a>
    </p>
</div>