<!DOCTYPE html>
<html lang="en">

  {%- include head.html -%}
  
  <body>
    <div class="main">
      <div id="top">
        {%- if page.title == site.title -%}
        <img src="{{ site.baseurl }}/img/headshot2.png" class="headshot">
        {%- endif -%}
        <a href="{{ site.baseurl }}"><h2 class="headline">Hacker Career Advice</h2></a>
        {%- if page.description -%}<h3>{{page.title | titlecase | improve}}</h3>{%- endif -%}
      </div>
      {{content | improve}}

      <div class="footer">
        <hr>
        <p>&copy; {{ site.time | date: '%Y' }}&nbsp;<a href="{{site.author.url}}">Neal Shyam</a></p>
      </div>
    </div>
  </body>
</html>
